<div id="<%= dom_id tour %>">
  <p>
    <strong>Название:</strong>
    <%= tour.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= tour.description %>
  </p>

  <p>
    <strong>Страна:</strong>
    <%= tour.country %>
  </p>

  <p>
    <strong>Цена:</strong>
    <%= tour.price %>
  </p>

  <p>
    <strong>Рейтинг:</strong>
    <%= tour.rate %>
  </p>

</div>
